/* LoginPage.module.css */

.container {
    display: flex;
    width: 100%;
    align-items: center; 
    justify-content: center;
    min-height: 100vh; 
    background-color: #374151;
}
.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 350px;
    max-width: 25rem;
    padding: 50px;
    background-color: white;
    border-radius: 0.75rem;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.title {
    font-size: 1.875rem;
    font-weight: 700;
    text-align: center;
    color: #4f46e5;
    margin-bottom: 1.5rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 0.5em; 
    padding: 40px;
}

.errorBox {
    padding: 0.75rem;
    font-size: 0.875rem;
    color: #b91c1c;
    background-color: #fee2e2;
    border-radius: 0.5rem;
}

.inputGroup {
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.label {
    font-size: 0.875rem;
    font-weight: 500;
    color: #374151;
    display: block;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 0.5rem 1rem;
    margin-top: 0.25rem;
    border: 1px solid #d1d5db;
    border-radius: 0.375rem;
    outline: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.input:focus {
    border-color: #6366f1;
    box-shadow: 0 0 0 3px rgba(99, 102, 241, 0.5);
}

.button {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0.5rem 1rem;
    border: 1px solid transparent;
    border-radius: 0.375rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    font-size: 0.875rem;
    font-weight: 500;
    color: white;
    background-color: #4f46e5;
    transition: background-color 0.15s ease-in-out;
    outline: none;
    cursor: pointer;
}
.button:hover:not(:disabled) {
    background-color: #4338ca;
}
.button:focus {
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #6366f1;
}

.button[disabled],
.disabled {
    background-color: #818cf8 !important;
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.8;
}